<!-- <div
  class="min-h-screen bg-gray-100 text-gray-900 flex justify-center items-center px-8 -mt-10"
>
  <div
    class="w-full max-w-screen-xl h-[500px] bg-white shadow rounded-lg flex flex-col lg:flex-row justify-center overflow-hidden"
  >
    <div class="w-full lg:w-1/2 xl:w-5/12 p-6 sm:p-12">
      <div>
        <img src="assets/gica_unam_name.png" class="mx-auto -mb-24" />
      </div>
      <div class="mt-12 flex flex-col items-center">
        <div class="w-full flex-1 mt-8">
          <div class="flex flex-col items-center"></div>

          <div class="my-12 border-b text-center">
            <div
              class="leading-none px-2 inline-block text-sm text-gray-600 tracking-wide font-medium bg-white transform translate-y-1/2"
            >
              Ingresar el usuario y contraseña
            </div>
          </div>

          <form
            (ngSubmit)="submit()"
            #loginForm="ngForm"
            class="mx-auto max-w-xs"
          >
            <input
              type="email"
              placeholder="Usuario"
              name="email"
              [(ngModel)]="email"
              autocomplete="username"
              required
              class="w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white"
            />

            <input
              type="password"
              placeholder="Contraseña"
              name="password"
              [(ngModel)]="password"
              autocomplete="current-password"
              required
              class="w-full px-8 py-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white mt-5"
            />
            <button
              type="submit"
              class="mt-5 tracking-wide font-semibold bg-green-400 text-white w-full py-4 rounded-lg hover:bg-green-700 transition-all duration-300 ease-in-out flex items-center justify-center focus:shadow-outline focus:outline-none"
            >
              <svg
                class="w-6 h-6 -ml-2"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="M16 21v-2a4 4 0 00-4-4H5a4 4 0 00-4 4v2" />
                <circle cx="8.5" cy="7" r="4" />
                <path d="M20 8v6M23 11h-6" />
              </svg>
              <span class="ml-2"> Ingresar </span>
            </button>
          </form>
        </div>
      </div>
    </div>

    <div class="flex-1 bg-green-100 text-center hidden lg:flex">
      <div
        class="m-12 xl:m-16 w-full bg-contain bg-center bg-no-repeat"
        style="background-image: url('assets/login.png')"
      ></div>
    </div>
  </div>
</div> -->

<div class="container" #containerRef>
  <div class="form-box login">
    <form (ngSubmit)="submit()" #loginForm="ngForm">
      <h1>Login</h1>
      <div class="input-box">
        <input
          type="email"
          placeholder="Usuario"
          name="email"
          [(ngModel)]="email"
          autocomplete="username"
          required
        />
        <i class="bx bxs-user"></i>
      </div>
      <div class="input-box">
        <input
          type="password"
          placeholder="Contraseña"
          name="password"
          [(ngModel)]="password"
          autocomplete="current-password"
          required
        />
        <i class="bx bxs-lock-alt"></i>
      </div>
      <!-- <div class="forgot-link">
        <a href="#">Forgot Password?</a>
      </div> -->
      <button type="submit" class="btn">Login</button>
      <!-- <p>or login with social platforms</p>
      <div class="social-icons">
        <a href="#"><i class="bx bxl-google"></i></a>
        <a href="#"><i class="bx bxl-facebook"></i></a>
        <a href="#"><i class="bx bxl-github"></i></a>
        <a href="#"><i class="bx bxl-linkedin"></i></a>
      </div> -->
    </form>
  </div>

  <!-- <div class="form-box register">
    <form action="#">
      <h1>Registration</h1>
      <div class="input-box">
        <input type="text" placeholder="Username" required />
        <i class="bx bxs-user"></i>
      </div>
      <div class="input-box">
        <input type="email" placeholder="Email" required />
        <i class="bx bxs-envelope"></i>
      </div>
      <div class="input-box">
        <input type="password" placeholder="Password" required />
        <i class="bx bxs-lock-alt"></i>
      </div>
      <button type="submit" class="btn">Register</button>
      <p>or register with social platforms</p>
      <div class="social-icons">
        <a href="#"><i class="bx bxl-google"></i></a>
        <a href="#"><i class="bx bxl-facebook"></i></a>
        <a href="#"><i class="bx bxl-github"></i></a>
        <a href="#"><i class="bx bxl-linkedin"></i></a>
      </div>
    </form>
  </div> -->

  <div class="toggle-box">
    <div class="toggle-panel toggle-left">
      <h1>Hello, Welcome!</h1>
      <p>Don't have an account?</p>
      <button class="btn" (click)="activateRegister()">Register</button>
    </div>

    <div class="toggle-panel toggle-right">
      <h1>Welcome Back!</h1>
      <p>Already have an account?</p>
      <button class="btn" (click)="activateLogin()">Login</button>
    </div>
  </div>
</div>
