<div class="container mx-auto p-4 mt-10 mb-10 flex flex-col items-center">
  <!-- Sección Principal -->
  <div class="w-full max-w-7xl grid grid-cols-1 md:grid-cols-3 gap-24">
    <!-- Sección Izquierda -->
    <div class="md:col-span-2 flex flex-col items-start">
      <h1 class="text-3xl font-bold">ChileMIO</h1>
      <div class="w-full flex justify-center my-4">
        <img
          src="assets/gicaunam.png"
          alt="ChileMIO Image"
          class="w-[650px] h-[553px] rounded-lg"
        />
      </div>
      <br />
      <p class="text-gray-700 text-lg max-w-4xl">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Quae ut provident aut,
        doloremque temporibus perspiciatis rerum voluptatem dolorum aliquid
        sequi illum est saepe voluptatum reprehenderit quaerat odio, amet
        dignissimos corrupti? Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Esse dolor quam dolorem animi voluptas eaque, nihil
        amet architecto temporibus, repellat dolorum qui minima, id natus
        assumenda saepe perferendis possimus rem! Lorem ipsum dolor sit amet,
        consectetur adipisicing elit. Aliquid, unde. Sed quisquam, consequatur
        deleniti quo alias perferendis, at excepturi eius sapiente, rerum ullam
        in repudiandae qui repellendus. Modi, consequatur ipsam? Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Magni blanditiis
        repellendus repellat laboriosam illum natus perspiciatis ipsam beatae
        sequi saepe doloribus explicabo ullam dolor accusantium magnam quod,
        fugit unde. Aliquid. Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Dolorum, voluptate. Lorem ipsum dolor sit amet consectetur
      </p>
    </div>

    <!-- Sección Derecha Flotante -->
    <div
      class="bg-gray-100 p-6 rounded-lg shadow-lg w-full md:w-80 h-[550px] overflow-y-auto mt-[50px]"
    >
      <h2 class="text-lg font-bold text-center text-blue-600">Noticias</h2>
      <p class="text-gray-600 text-center text-sm">Últimas novedades</p>

      <div class="mt-4 space-y-4">
        <!-- Noticia 1 -->
        <div class="bg-white p-4 rounded-lg shadow flex">
          <div class="flex flex-col items-center w-20">
            <img
              src="assets/gicaunam.png"
              alt="Evento"
              class="w-16 h-16 rounded-lg object-cover"
            />
            <p class="text-gray-500 text-xs mt-1 text-center">
              15 de Noviembre
            </p>
          </div>
          <div class="ml-4 flex-1">
            <h3 class="font-bold text-sm">Nuevo Evento Disponible</h3>
            <p class="text-gray-600 text-xs">¡Inscríbete antes del 10!</p>
          </div>
        </div>

        <!-- Noticia 2 -->
        <div class="bg-white p-4 rounded-lg shadow flex">
          <div class="flex flex-col items-center w-20">
            <img
              src="assets/gicaunam.png"
              alt="Actualización"
              class="w-16 h-16 rounded-lg object-cover"
            />
            <p class="text-gray-500 text-xs mt-1 text-center">Hace 3 días</p>
          </div>
          <div class="ml-4 flex-1">
            <h3 class="font-bold text-sm">Actualización del Proyecto</h3>
            <p class="text-gray-600 text-xs">
              Se han mejorado las funciones de la plataforma.
            </p>
          </div>
        </div>

        <!-- Noticia 3 -->
        <div class="bg-white p-4 rounded-lg shadow flex">
          <div class="flex flex-col items-center w-20">
            <img
              src="assets/gicaunam.png"
              alt="Asociación"
              class="w-16 h-16 rounded-lg object-cover"
            />
            <p class="text-gray-500 text-xs mt-1 text-center">Publicado hoy</p>
          </div>
          <div class="ml-4 flex-1">
            <h3 class="font-bold text-sm">Nueva Asociación</h3>
            <p class="text-gray-600 text-xs">
              Ahora colaboramos con una nueva entidad.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Sección Visión y Misión + Auspiciadores -->
<div class="bg-azul_primary w-full h-[600px] pb-10 mb-16 flex items-center">
  <div class="max-w-screen-lg mx-auto">
    <!-- Sección Visión y Misión -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="p-6 text-start">
        <h2 class="text-lg font-bold text-center uppercase">Visión</h2>
        <p class="mt-2 text-black">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Voluptates praesentium
          maxime molestias obcaecati sunt, iste odit neque unde quo nam amet
          pariatur debitis nisi eius, odio provident minima quia quae!
        </p>
      </div>
      <div class="p-6 text-start">
        <h2 class="text-lg font-bold text-center uppercase">Misión</h2>
        <p class="mt-2 text-black">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Pariatur possimus modi
          aut excepturi repudiandae porro provident perferendis ipsam nihil
          obcaecati quisquam, odit consequatur laboriosam maxime officiis,
          beatae illum dolores. Natus.
        </p>
      </div>
    </div>
    <!-- Sección Auspiciadores -->
    <div class="mt-10">
      <p
        class="text-black font-semibold uppercase tracking-wide flex items-center"
      >
        Auspiciadores
        <span class="w-full h-[2px] bg-black ml-2"></span>
      </p>
      <div
        class="grid grid-cols-2 md:grid-cols-5 gap-4 mt-4 justify-items-center"
      >
        <div class="flex flex-row items-center">
          <img
            src="assets/Badge-AluraFlix.png"
            alt="Logo 1"
            class="h-16 w-16 mr-2"
          />
          <span class="text-gray-500 text-[18px] font-bold">Auspiciador 1</span>
        </div>
        <div class="flex flex-row items-center">
          <img
            src="assets/Badge-AluraFlix.png"
            alt="Logo 2"
            class="h-16 w-16 mr-2"
          />
          <span class="text-gray-500 text-[18px] font-bold">Auspiciador 2</span>
        </div>
        <div class="flex flex-row items-center">
          <img
            src="assets/Badge-AluraFlix.png"
            alt="Logo 3"
            class="h-16 w-16 mr-2"
          />
          <span class="text-gray-500 text-[18px] font-bold">Auspiciador 3</span>
        </div>
        <div class="flex flex-row items-center">
          <img
            src="assets/Badge-AluraFlix.png"
            alt="Logo 4"
            class="h-16 w-16 mr-2"
          />
          <span class="text-gray-500 text-[18px] font-bold">Auspiciador 4</span>
        </div>
        <div class="flex flex-row items-center">
          <img
            src="assets/Badge-AluraFlix.png"
            alt="Logo 5"
            class="h-16 w-16 mr-2"
          />
          <span class="text-gray-500 text-[18px] font-bold">Auspiciador 5</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Seccion Historia -->
<div class="flex items-center justify-center min-h-screen p-10">
  <div
    class="relative w-[1357px] h-[700px] rounded-lg shadow-lg overflow-hidden"
  >
    <img
      src="assets/gicaunam.png"
      alt="Fondo"
      class="absolute inset-0 w-full h-full object-cover"
    />
    <div class="absolute inset-0 bg-black bg-opacity-50 z-10"></div>

    <div
      class="relative z-20 flex flex-col items-center justify-center h-full p-8"
    >
      <div
        class="flex flex-col md:flex-row items-center justify-center text-left p-4 w-full gap-8"
      >
        <div class="flex-1 p-4">
          <h2 class="text-3xl font-bold text-white text-center mb-8">
            Chi Siamo
          </h2>
          <p class="text-white">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Deserunt placeat magnam
            nam! Ea dolor, dolorum accusantium corrupti unde culpa nostrum quia
            consequatur maxime quas! Adipisci molestias eos amet dolore
            expedita! Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Asperiores voluptas obcaecati, sunt id mollitia laboriosam ab alias
            cupiditate doloremque quasi nulla nesciunt magnam minima. Voluptas
            velit perspiciatis dolorum ipsam odit.
          </p>
        </div>

        <div class="flex-1 p-4 flex justify-center">
          <img
            src="assets/gicaunam.png"
            alt="Il nostro team"
            class="shadow-md w-full h-96 max-w-md rounded-lg"
          />
        </div>
      </div>
    </div>
  </div>
</div>
