<aside
  [class.w-48]="!isSidebarCompact"
  [class.w-20]="isSidebarCompact"
  class="transition-all duration-300 text-black h-screen overflow-hidden border-r border-gray-200"
>
  <!-- SIDEBAR HEADER -->
  <div class="flex items-center px-4 pt-4 sidebar-header justify-center">
    <a href="index.html">
      <span class="logo">
        <img
          class="dark:hidden w-24 h-24 object-contain"
          src="../../../../assets/logo_gica.jpg"
          alt=""
        />
      </span>
    </a>
  </div>
  <!-- SIDEBAR HEADER -->
  <div
    class="flex flex-col overflow-y-auto duration-300 ease-linear no-scrollbar px-4"
  >
    <!-- Sidebar Menu -->
    <nav>
      <!-- Menu Group -->
      <div>
        <h3 class="mb-4 text-xs uppercase leading-[30px] text-gray-400">
          <span class="menu-group-title"> MENU </span>
        </h3>

        <ul class="flex flex-col gap-4 mb-6">
          <!-- Menu Item Dashboard -->
          <li>
            <a
              href=""
              (click)="toggleSelecteds('Dashboard')"
              class="menu-item group flex items-center gap-2 rounded-lg transition-colors duration-300"
              [ngClass]="{
                'bg-blue-100 text-blue-600': selected === 'Dashboard',
                'hover:bg-blue-50 text-gray-700': selected !== 'Dashboard'
              }"
            >
              <!-- Icon usando PNG -->
              <img
                src="../../../../assets/planetatierra.png"
                alt="Dashboard Icon"
                class="w-6 h-6 transition-colors duration-300"
                [ngClass]="{
                  'filter-blue': selected === 'Dashboard',
                  'filter-gray group-hover:filter-blue-hover':
                    selected !== 'Dashboard'
                }"
              />
              <!-- Text -->
              <span
                *ngIf="!isSidebarCompact"
                class="text-sm font-medium transition-all duration-300"
                [class.opacity-0]="isSidebarCompact"
                [class.opacity-100]="!isSidebarCompact"
              >
                Dashboard
              </span>
            </a>
          </li>
          <!-- Menu Item Dashboard -->

          <!-- Menu Item Calendar -->
          <li>
            <a
              (click)="toggleSelected('Calendar')"
              href=""
              class="menu-item group flex items-center gap-3"
              [ngClass]="{
                'bg-blue-100 text-blue-600': selected === 'Calendar',
                'hover:bg-blue-50 text-gray-700': selected !== 'Calendar'
              }"
            >
              <img
                src="../../../../assets/planetatierra.png"
                alt="Calendar Icon"
                class="w-6 h-6 transition-colors duration-300"
                [ngClass]="{
                  'filter-blue': selected === 'Calendar',
                  'filter-gray group-hover:filter-blue-hover':
                    selected !== 'Calendar'
                }"
              />
              <span
                *ngIf="!isSidebarCompact"
                class="text-sm font-medium transition-all duration-300"
                [class.opacity-0]="isSidebarCompact"
                [class.opacity-100]="!isSidebarCompact"
                >Calendar</span
              >
            </a>
          </li>
          <!-- Menu Item Calendar -->

          <!-- Menu Item Profile -->
          <li>
            <a
              href="#"
              (click)="toggleSelected('Profile')"
              class="menu-item group flex items-center gap-3"
              [ngClass]="{
                'bg-blue-100 text-blue-600': selected === 'Profile',
                'hover:bg-blue-50 text-gray-700': selected !== 'Profile'
              }"
            >
              <img
                src="../../../../assets/planetatierra.png"
                alt="Profile Icon"
                class="w-6 h-6 transition-colors duration-300"
                [ngClass]="{
                  'filter-blue': selected === 'Profile',
                  'filter-gray group-hover:filter-blue-hover':
                    selected !== 'Profile'
                }"
              />
              <span
                *ngIf="!isSidebarCompact"
                class="menu-item-text text-sm font-medium transition-all duration-300"
                [class.opacity-0]="isSidebarCompact"
                [class.opacity-100]="!isSidebarCompact"
                >User Profile</span
              >
            </a>
          </li>
          <!-- Menu Item Profile -->

          <!-- Menu Item Forms -->
          <li>
            <a
              (click)="toggleSelecteds('Forms')"
              class="menu-item group flex items-center gap-3 relative"
              [ngClass]="{
                'bg-blue-100 text-blue-600': selected === 'Forms',
                'hover:bg-blue-50 text-gray-700': selected !== 'Forms'
              }"
            >
              <img
                src="../../../../assets/planetatierra.png"
                alt="Forms Icon"
                class="w-6 h-6 transition-colors duration-300"
                [ngClass]="{
                  'filter-blue': selected === 'Forms',
                  'filter-gray group-hover:filter-blue-hover':
                    selected !== 'Forms'
                }"
              />
              <span
                *ngIf="!isSidebarCompact"
                class="menu-item-text text-sm font-medium transition-all duration-300"
                [class.opacity-0]="isSidebarCompact"
                [class.opacity-100]="!isSidebarCompact"
                >Forms</span
              >
            </a>

            <!-- Dropdown Menu End -->
          </li>

          <!-- Menu Item Forms -->
          <!-- Menu Item Tables -->
          <li>
            <a
              (click)="toggleSelecteds('Tables')"
              class="menu-item group flex items-center gap-3 relative"
              [ngClass]="{
                'bg-blue-100 text-blue-600': selected === 'Tables',
                'hover:bg-blue-50 text-gray-700': selected !== 'Tables'
              }"
            >
              <img
                src="../../../../assets/planetatierra.png"
                alt="Tables Icon"
                class="w-6 h-6 transition-colors duration-300"
                [ngClass]="{
                  'filter-blue': selected === 'Tables',
                  'filter-gray group-hover:filter-blue-hover':
                    selected !== 'Tables'
                }"
              />
              <span
                *ngIf="!isSidebarCompact"
                class="menu-item-text text-sm font-medium transition-all duration-300"
                [class.opacity-0]="isSidebarCompact"
                [class.opacity-100]="!isSidebarCompact"
                >Tables</span
              >
            </a>
            <!-- Dropdown Menu End -->
          </li>

          <!-- Menu Item Tables -->
          <!-- Menu Item Pages -->
          <li>
            <a
              (click)="toggleSelecteds('Pages')"
              class="menu-item group flex items-center gap-3 relative"
              [ngClass]="{
                'bg-blue-100 text-blue-600': selected === 'Pages',
                'hover:bg-blue-50 text-gray-700': selected !== 'Pages'
              }"
            >
              <img
                src="../../../../assets/planetatierra.png"
                alt="Pages Icon"
                class="w-6 h-6 transition-colors duration-300"
                [ngClass]="{
                  'filter-blue': selected === 'Pages',
                  'filter-gray group-hover:filter-blue-hover':
                    selected !== 'Pages'
                }"
              />
              <span
                *ngIf="!isSidebarCompact"
                class="menu-item-text text-sm font-medium transition-all duration-300"
                [class.opacity-0]="isSidebarCompact"
                [class.opacity-100]="!isSidebarCompact"
                >Pages</span
              >
            </a>

            <!-- Dropdown Menu End -->
          </li>
          <!-- Menu Item Pages -->
        </ul>
      </div>
    </nav>
    <!-- Sidebar Menu -->
  </div>
</aside>
