<!-- *ngIf="!isLoading"  -->
<!-- AQUI ABAJO ES ORIGIANL -->
<!-- Loader (mientras se carga el contenido) -->
<!-- <app-loading *ngIf="isLoading"></app-loading> -->

<!-- Si NO estamos en Dashboard -->
<!-- <ng-container *ngIf="!isDashboard">
  <app-navbar *ngIf="showNav" [ngClass]="{ 'loading-navbar': isLoading }" />
  <div [ngClass]="getMarginTopClass()">
    <router-outlet *ngIf="!isLoading"></router-outlet>
  </div>
  <app-footer *ngIf="!isDashboard && !isLoading"></app-footer>
</ng-container> -->

<!-- Si estamos en Dashboard -->
<!-- <ng-container *ngIf="isDashboard">
  <router-outlet *ngIf="!isLoading"></router-outlet>
</ng-container> -->

<!--! Si estamos en el login, solo el contenidasdasdasdo -->
<!-- Navbar siempre visible -->
<!-- Navbar (siempre visible excepto en dashboard) -->
<!-- ! ME QUEDE AQUI LO CUAL RECOMEINDA CREAR LAYOUT Y DEJAR SOLO EL ROUTER OUTLET -->
<ng-container *ngIf="!isDashboard && showNav">
  <app-navbar />
</ng-container>

<!-- Loading Screen -->
<div *ngIf="isLoading && !isDashboard && showNav" class="loading-screen">
  <app-loading></app-loading>
</div>

<!-- Contenido de la página -->
<ng-container *ngIf="!isLoading">
  <div [ngClass]="[showNav ? 'with-navbar' : 'no-navbar', getMarginTopClass()]">
    <router-outlet></router-outlet>
  </div>

  <!-- Footer -->
  <ng-container *ngIf="!isDashboard">
    <app-footer />
  </ng-container>
</ng-container>
