<footer class="bg-azul_secondary">
  <div
    class="mx-auto grid gap-y-8 gap-x-12 px-4 py-10 md:grid-cols-2 xl:grid-cols-4 xl:px-10"
  >
    <div class="max-w-sm mt-6">
      <div class="mb-6 flex items-center space-x-2 bg-black">
        <img src="/assets/logo_gica.jpg" alt="BelAir Logo" class="" />
      </div>
    </div>
    <div class="grid grid-cols-4 gap-40 mt-2 ml-20">
      <div class="w-28">
        <div class="mt-4 mb-2 font-medium xl:mb-4 text-white">Nosotros</div>
        <nav aria-label="Footer Navigation" class="text-white">
          <ul class="space-y-3">
            <li>
              <a
                class="relative text-white dark:text-white after:block after:h-[2px] after:w-0 after:bg-green-500 after:transition-all after:duration-300 hover:after:w-full"
                href="#"
                >Historia</a
              >
            </li>
            <li>
              <a
                class="relative text-white dark:text-white after:block after:h-[2px] after:w-0 after:bg-green-500 after:transition-all after:duration-300 hover:after:w-full"
                href="#"
                >Objetivos</a
              >
            </li>
            <li>
              <a
                class="relative text-white dark:text-white after:block after:h-[2px] after:w-0 after:bg-green-500 after:transition-all after:duration-300 hover:after:w-full"
                href="#"
                >Equipo de trabajo</a
              >
            </li>
            <li>
              <a
                class="relative text-white dark:text-white after:block after:h-[2px] after:w-0 after:bg-green-500 after:transition-all after:duration-300 hover:after:w-full"
                href="#"
                >Redes de colaboracion</a
              >
            </li>
          </ul>
        </nav>
      </div>
      <div class="w-28">
        <div class="mt-4 mb-2 font-medium xl:mb-4 text-white">Mas</div>
        <nav aria-label="Footer Navigation" class="text-white">
          <ul class="space-y-3">
            <li>
              <a
                class="relative text-white dark:text-white after:block after:h-[2px] after:w-0 after:bg-green-500 after:transition-all after:duration-300 hover:after:w-full"
                href="#"
                >Proyectos</a
              >
            </li>
            <li>
              <a
                class="relative text-white dark:text-white after:block after:h-[2px] after:w-0 after:bg-green-500 after:transition-all after:duration-300 hover:after:w-full"
                href="#"
                >Eventos</a
              >
            </li>
            <li>
              <a
                class="relative text-white dark:text-white after:block after:h-[2px] after:w-0 after:bg-green-500 after:transition-all after:duration-300 hover:after:w-full"
                href="#"
                >Publicaciones</a
              >
            </li>
            <li>
              <a
                class="relative text-white dark:text-white after:block after:h-[2px] after:w-0 after:bg-green-500 after:transition-all after:duration-300 hover:after:w-full"
                href="#"
                >Equipo</a
              >
            </li>
          </ul>
        </nav>
      </div>
      <div class="w-28">
        <div class="mt-4 mb-2 font-medium xl:mb-4 text-white">Conectate</div>
        <nav aria-label="Footer Navigation" class="text-white">
          <ul class="space-y-3">
            <li>
              <a
                class="relative text-white dark:text-white after:block after:h-[2px] after:w-0 after:bg-green-500 after:transition-all after:duration-300 hover:after:w-full"
                href="#"
                >Facebook</a
              >
            </li>
            <li>
              <a
                class="relative text-white dark:text-white after:block after:h-[2px] after:w-0 after:bg-green-500 after:transition-all after:duration-300 hover:after:w-full"
                href="#"
                >Instagram</a
              >
            </li>
            <li>
              <a
                class="relative text-white dark:text-white after:block after:h-[2px] after:w-0 after:bg-green-500 after:transition-all after:duration-300 hover:after:w-full"
                href="#"
                >Twitter</a
              >
            </li>
            <li>
              <a
                class="relative text-white dark:text-white after:block after:h-[2px] after:w-0 after:bg-green-500 after:transition-all after:duration-300 hover:after:w-full"
                href="#"
                >Linkedin</a
              >
            </li>
          </ul>
        </nav>
      </div>
      <div class="w-[460px] mx-auto">
        <div
          class="mt-4 mb-2 font-medium text-4xl xl:mb-4 text-white text-wrap w-[480px]"
        >
          Suscribete para recibir las ultimas actualizaciones
        </div>
        <form
          method="POST"
          action="#"
          class="mx-auto mt-6 mb-2 max-w-lg sm:rounded-xl sm:border sm:border-gray-100 sm:bg-white sm:p-4 sm:shadow"
        >
          <div
            class="flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-center"
          >
            <div class="relative text-gray-500 sm:w-8/12">
              <input
                type="email"
                name="email"
                id="email"
                placeholder="Enter email address"
                class="w-full cursor-text rounded-xl border-2 py-3 pr-4 text-base outline-none transition-all duration-200 ease-in-out sm:border-0 focus:border-transparent focus:ring"
                required
              />
            </div>
            <button
              type="submit"
              class="group flex items-center justify-center rounded-xl bg-blue-700 px-6 py-3 text-white transition w-full sm:w-auto"
            >
              <span class="font-medium">Suscribete</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="bg-azul_secondary">
    <div
      class="text-white mx-auto flex max-w-screen-xl flex-col gap-y-4 px-4 py-3 text-center sm:flex-row sm:justify-center sm:text-center"
    >
      <div>© 2022 GICA UNAM | All Rights Reserved</div>
      <div class="flex space-x-3">
        <a href="#" class="text-white">Privacy Policy</a>
        <span>|</span>
        <a href="#" class="text-white">Terms of Service</a>
      </div>
    </div>
  </div>
</footer>
