<div class="flex h-screen overflow-hidden">
  <!-- Sidebar  -->
  <app-sidebar></app-sidebar>

  <!-- Content Area  -->
  <div class="relative flex flex-col flex-1 overflow-x-hidden overflow-y-auto">
    <!-- Overlay for small devices  -->
    <app-overlay></app-overlay>

    <!-- Header  -->
    <app-header></app-header>

    <!-- Main Content  -->
    <main>
      <div class="p-4 mx-auto max-w-screen-2xl md:p-6">
        <div class="grid grid-cols-12 gap-4 md:gap-6">
          <div class="col-span-12 space-y-6 xl:col-span-7">
            <app-metric-group01></app-metric-group01>
            <app-chart01></app-chart01>
          </div>
          <div class="col-span-12 xl:col-span-5">
            <app-chart02></app-chart02>
          </div>
          <div class="col-span-12">
            <app-chart03></app-chart03>
          </div>
          <div class="col-span-12 xl:col-span-5">
            <app-map01></app-map01>
          </div>
          <div class="col-span-12 xl:col-span-7">
            <app-table01></app-table01>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
