nav {
  transition: background-color 0.3s;
}

/* Transición para el menú desplegable en móviles */
.menu-open {
  animation: slideIn 0.3s ease-in-out;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
